header.header
  .wrapper
    .header-left
      .header__logo
      .header__desc Югорская региональная<br>электросетевая компания
    .header-middle Горячая линия: <span>8 3467 <b>31 85 95</b></span>
    //.header-right
      .header__links
        a(href="#") Авторизоваться
        span.delimiter |
        a(href="#") Зарегистрироваться
        br
        a(href="#") Вернуться на сайт
    .header-right Здравствуйте, Константин
      .header__links
        a(href="#") Вернуться на сайт
        span.delimiter |
        a(href="#") Выйти из аккаунта
