extends layout

block content

  .page
    header.header
      .wrapper
        .header-left
          .header__logo
          .header__desc Югорская региональная<br>электросетевая компания
        .header-middle Горячая линия: <span>8 3467 <b>31 85 95</b></span>
        //.header-right
          .header__links
            a(href="#") Авторизоваться
            span.delimiter |
            a(href="#") Зарегистрироваться
            br
            a(href="#") Вернуться на сайт
        .header-right Здравствуйте, Константин
          .header__links
            a(href="#") Вернуться на сайт
            span.delimiter |
            a(href="#") Выйти из аккаунта

    main.main
      .wrapper
        h1.h1 Авторизация

        .auth
          .auth-block
            .form-control
              input(type="text", id="login").form__input
              label(for="login").form__label Логин
            .form-control
              input(type="password", id="pass").form__input
              label(for="pass").form__label Пароль
            button.button Авторизоваться
            .form-control
              a(href="#").link Забыли пароль?
              span.delimiter /
              a(href="#").link Зарегистрироваться
          .auth-line
          .auth-block
            a(href="#").button Войти через ЕСИА
            a(href="#").button Авторизация с помощью электронной подписи


