extends layout

block content

  -
    var pages = [
      {
        label: 'Главная',
        name: 'main'
      },
      {
        label: 'Стайлгайд',
        name: 'style-guide'
      },
      {
        label: 'Авторизация',
        name: 'auth'
      },
      {
        label: 'Регистрация',
        name: 'reg'
      },
      {
        label: 'Подтверждение пароля',
        name: 'confirm'
      },
      {
        label: 'Восстановление пароля',
        name: 'restoring'
      },
      {
        label: 'Тип пользователя',
        name: 'type'
      },
      {
        label: 'Список заявлений',
        name: 'list'
      }
    ]

  main.index-menu
    h3 Список страниц в проекте
    ol
      each page in pages
        li
          a(href= page.name + '.html')= page.label
