extends layout

block content

  -
    var pages = [
      {
        label: 'Стайлгайд',
        name: 'style-guide'
      }
    ]

  main.index-menu
    h3 Список страниц в проекте
    ol
      each page in pages
        li
          a(href= page.name + '.html')= page.label
