extends layout

block content

  .page
    header.header
      .wrapper
        .header-left
          .header__logo
          .header__desc Югорская региональная<br>электросетевая компания
        .header-middle Горячая линия: <span>8 3467 <b>31 85 95</b></span>
        //.header-right
          .header__links
            a(href="#") Авторизоваться
            span.delimiter |
            a(href="#") Зарегистрироваться
            br
            a(href="#") Вернуться на сайт
        .header-right Здравствуйте, Константин
          .header__links
            a(href="#") Вернуться на сайт
            span.delimiter |
            a(href="#") Выйти из аккаунта

    main.main
      .wrapper
        h1.h1 Личный кабинет

        h3.h3.small В личном кабинете Вы можете:
        .detail
          ul
            li подать заявку на технологическое присоединение к электрическим АО "ЮРЭСК"
            li следить за текущим статусом Вашего заявления;
            li получать актуальные уведомления о смене статуса и отслеживать прогресс заявления;
            li общаться в чате с представителями ЮРЭСК.

        h3.h3.small Войти в личный кабинет можно следующими способами:
        a(href="#").button Авторизация
        a(href="#").button Вход при помощи электронной подписи
        a(href="#").button Вход через Госуслуги
        br
        br
        .desc Еще нет учетной записи? <a href="#" class="link">Зарегистрироваться</a>
      .process
        .wrapper
          h3.h3 Процесс регистрации
          ol.process-block
            li.process__item Создание пользователя (ввод e-mail и телефона)
            li.process__item Подтверждение E-mail
            li.process__item Создание пароля<br>для аккаунта
            li.process__item Выбор типа пользователя (Физ. лицо / Юр. лицо / ИП)
            li.process__item Выбор типа пользователя (Физ. лицо / Юр. лицо / ИП)
            li.process__item Ввод информации<br>о пользователе<br>(в соотв. с типом)
            li.process__item Подтверждение аккаунта (ЭЦП / Госуслуги / в ЦОК)
            li.process__item Подача заявления


